@media screen and (min-width: 769px) {
  .loginForm-container {
    max-width: 40%;
    margin: 0 auto;
  }
}
.loginregister-container {
  padding: 50px 0;
}
.loginregister-container p {
  color: rgb(207, 26, 26);
  font-family: poppins;
  font-size: 14px;
}
.loginregister-container a {
  font-size: 16px;
  font-family: poppins;
  color: #121212d9;
}

.loginregister-container h4 {
  font-size: 18px;
  font-weight: 400;
  color: #121212bf;
}
.account-details{
  max-width: 90% !important;
  margin: 0 auto;
}
.detail-container{
  border: 1px solid rgb(173, 171, 171);
  border-radius: 6px;
  padding: 20px;

}

.account-details .headings{
  font-size: 26px;
}

.account-details p{
  color: #121212bf;
  font-size: 17px;
  line-height: 26px;
}
.account-details .link ,.account-details a p{
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;
}
.account-details .link:hover,
.account-details a p:hover{
  font-weight: 500;
}

.account-details svg{
  height: 20px;
  width: 20px;

}