.address-container {
  max-width: 55% !important;
  margin: 0 auto;
  padding: 40px 0;
}

.form-title {
  font-size: 26px;
}
.address-container a {
  text-decoration: underline !important;
  color: #121212;
  font-size: 16px;
}

.address-container a:hover {
  font-weight: 500;
}

.data-address-container p{
  font-size: 18px;
  color: #121212bf;
}
.data-address-btn-container button{
  background-color: white;
  color: orange;
  transform: none;
  font-weight: bold;
  width: 120px;
}